{:align-form-columns?             true
 :align-map-columns?              true
 :function-arguments-indentation  :cursive
 :sort-ns-references?             true
 :normalize-newlines-at-file-end? true
 :paths                           ["deps.edn" "src" "test" "example"]}
